language: scala
scala:
  - 2.11.8
jdk:
  - oraclejdk8
addons:
  firefox: "50.0"
sudo: required
before_script:
  - "export DISPLAY=:99.0"
before_install:
  - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1280x1024x16"
install:
#geckodriver for selenium
  - wget https://github.com/mozilla/geckodriver/releases/download/v0.11.1/geckodriver-v0.11.1-linux64.tar.gz
  - tar -xvzf geckodriver-v0.11.1-linux64.tar.gz
  - rm geckodriver-v0.11.1-linux64.tar.gz
  - sudo chmod +x geckodriver
  - sudo mv geckodriver /usr/bin
# the rest
  - nvm install 6.9.1
  - npm install jsdom