language: scala
scala:
  - 2.11.8
jdk:
  - oraclejdk8
node_js:
  - 6.9.1
install:
  - git clone https://github.com/unicredit/akka.js.git
  - cd "akka.js"
  - sbt "++ 2.11.8" "set test in Test := {}" "akkaTestkitJS/publishLocal"
  - cd ..
